.main-container-get {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}

.get-started-container {
    width: 100%;
    margin: 0 .5rem;
    padding: 1rem;
    max-width: 350px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.get-started-container h1 {
    font-size: 19px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.get-started-container button {
    margin-top: 1rem;
    padding: .5rem;
    cursor: pointer;
}

.submit {
    cursor: pointer;
    padding: .5rem;
}

.drop-down-container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.personality-content {
    width: 100%;
    padding: 12px 8px;
    margin-top: 1rem;
}

.drop-down-container .personality-content textarea {
    height: 150px;
    width: 100%;
    padding: 10px 8px;
    border: 1px solid black;
    background-color: #f1ebeb;

    border-radius: 4px;
    font-size: 16px;
    resize: none;
    outline: none;
}

/* Modal css */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f1ebeb;
    margin: auto .5rem;
    padding: 10px;
    border: 1px solid black;
    width: 400px;
    height: 80%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.about-you {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
}

.icon-about-you{
    font-size: 22px;
}

.close {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    background-color: black;
    padding: .1rem;
    border-radius: 50%;
    float: right;
    /* border: 1px solid #fff; */
    font-size: 15px;
    /* font-weight: bold; */
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 370px) {
    .drop-down-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}