
.main-container-get {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.get-started-container {
    width: 100%;
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 2rem 1rem;
    max-width: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    border: .5px solid #fff;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.get-started-container p {
    font-size: 18px;
    text-align: center;
    color: black;
    font-weight: 400;
}

.get-started-container button {
    margin-top: 1rem;
    padding: .8rem;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: #00acc1;
}


.submit {
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-weight: 500;
    border: none;
    background-color: #00acc1;
    color: #fff;
    border-radius: 8px;
}


#my-tooltip-1{
    width: 100%;
    max-width: 250px;
    font-size: 13px;
    text-align: center;
    background-color: #000;
    z-index: 1001;
}
.drop-down-container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.image-avotor{
    width: 85px;
    height: 85px;
    border: 1px solid rgb(218, 226, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.hidden{
    display: none;
    width: 100%;
    height: 100%;
}

.personality-content {
    width: 100%;
    padding: 12px 8px;
}

.drop-down-container .personality-content textarea {
    height: 150px;
    width: 100%;
    padding: 10px 8px;
    border: 1px solid rgb(218, 226, 237);
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    outline: none;
}
.drop-down-container .personality-content textarea::placeholder{
    color: #333333bb;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    
}

.modal-content {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: auto .5rem;
    padding: 15px;
    width: 400px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.about-you {
    background-color: rgb(243, 246, 249);
    color: #333;
    font-size: 0.875rem;
    border: 1px solid rgb(218, 226, 237);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgb(229, 234, 242) 0px 1px 1px inset, rgba(229, 234, 242, 0.6) 0px 1px 0.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px;
}

.icon-about-you{
    font-size: 22px;
}

.close {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    background-color: black;
    padding: .1rem;
    border-radius: 50%;
    float: right;
    font-size: 15px;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 370px) {
    .drop-down-container {
        gap: 10px;
    }
    .image-avotor{
        width: 70px;
        height: 70px;
        font-size: 10px;
    }
    #my-tooltip-1{
        max-width: 200px;
    }
}