.nav-container {
  background-color: #00acc1;
  width: 100%;
  position: relative;
}

.navbar-container {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  max-width: 1224px;
  align-items: center;
  height: 10vh;
  padding: 0 20px;
  top: 0;
  background-color: transparent;
}

.toggle-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.toggle-menu .toggle-icon {
  color: white;
  width: 20px;
  height: 20px;
}

.links-container ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.links-container ul li {
  margin-right: 20px;
}

.links-container ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

.toggle-box {
  position: fixed;
  top: 0;
  left: -300px; 
  width: 250px;
  height: 100vh;
  background-color: black;
  transition: left 0.3s ease; 
}

.toggle-box.open {
  left: 0; 
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn .close-icon {
  font-size: 1rem;
  color: #fff;
}

.nav-links{
  margin-top: 3rem;
  padding: 1rem;
}
.nav-links ul{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 15px;
}
.nav-links ul li{
list-style: none;
}
.nav-links ul li a{
  text-decoration: none;
  color: #fff;
}



@media (max-width: 400px) {
}