.footer-container{
    padding: 1rem;
    width: 100%;
    background-color: #e9fbf0;
    border-top: 2px solid #c6f6d9;
}
.footer-container p{
    font-size: .9rem;
    text-align: center;
    font-weight: 400;
    color: #0f5c2e;
}